#app {
    color: rgb(65, 65, 65);
    position: relative;
    font-family: 'Mulish', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    background-image: url("https://ec-storage.s3-us-west-1.amazonaws.com/reward-bg-11.png");
    background-repeat: no-repeat;
    /* background-position: bottom; */
    background-position-y: bottom;
    background-size: cover;
    
}

#app > .rewards-map {
    position: absolute;
    text-decoration: none;
    top: 5px;
    left: 10px;
    margin: 20px;
    font-size: 44px;
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
}

#main {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
}

/* <a href="https://www.freepik.com/free-photos-vectors/infographic">Infographic vector created by freepik - www.freepik.com</a> */
/* <a href="https://www.freepik.com/free-photos-vectors/business">Business vector created by vectorpouch - www.freepik.com</a> */