#app {
    color: rgb(65, 65, 65);
    position: relative;
    font-family: 'Mulish', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    background-image: url("https://ec-storage.s3-us-west-1.amazonaws.com/reward-bg-11.png");
    background-repeat: no-repeat;
    /* background-position: bottom; */
    background-position-y: bottom;
    background-size: cover;
    
}

#app > .rewards-map {
    position: absolute;
    text-decoration: none;
    top: 5px;
    left: 10px;
    margin: 20px;
    font-size: 44px;
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
}

.bio-container{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 300px;
    padding: 5px;
    margin: 100px 0px 0px 0px;
    transform: scale(0.95);
}

.bio-container > p, .bio-container > p > a , .bio-links > a {
    text-decoration: none;
    color: white;
}

.fa {
    margin: 5px;
    transform: scale(0.8);
}

/* .fa {
    font-size: 50px;
    height: 100%;
    border: 1px solid white;
} */


/* Vector image attribution:  */

/* <a href="https://www.freepik.com/free-photos-vectors/infographic">Infographic vector created by freepik - www.freepik.com</a> */
/* <a href="https://www.freepik.com/free-photos-vectors/business">Business vector created by vectorpouch - www.freepik.com</a> */