.arrangement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrangement-container > h3 {

}


.box {
    border: 1px solid purple;
    width: 100px;
    height: 100px;
    z-index: 500;
}

.box:hover{
    cursor: grab;
}

.layout, .layout > div {
    border: 1px solid red;
}

 .layout > div {
     height: 100px;
     width: 100px;
 }


 .board {
     display: flex;
     flex-direction: row;
     height: auto;
     width: auto;
     border: 1px solid greenyellow;
 }

 .board > div {
     width: 100px;
 }

 .rewards > div, .categories > div{
     /* border: 1px solid purple; */
 }



 .categories{
     display: flex;
     flex-direction: column;
     min-width: 500px;
     border: 1px solid fuchsia;
 }

  .categories > h3 {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 30px;
  }
  
  .rewards > h3 {
      height: 60px;
      display: flex;
      justify-content: center;
  }

.cat-header {
    display: flex;
    flex-direction: row;
    width: 500px;
}


.cat-header > div {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 30px;
}

.rewards-header {
    display: flex;
    flex-direction: column;
    width: 500px;
}


.rewards-header > div {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 100px;
    border: 1px solid red;
}



 .row-1, .row-2, .row-3, .row-4, .row-5 {
     position: relative;
     display: flex;
     width: 500px;
     height: 100px;
     border: 1px solid blue;
     /* width: auto; */
 }