
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 30px;
    margin-top: 8%;
    border-radius: 5px;
    /* border: 1px solid gainsboro; */
    background-color: white;
    /* border: 0.5px solid rgba(65, 168, 85, 0.6); */
    border: 0.5px solid rgba(167, 167, 167, 0.6);
    box-shadow: 0px 0px  7px 1px rgb(212, 212, 212);
}


.home-container h3 {
    color: rgb(61, 61, 61);
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px 5px;
}

.home-container p {
    color: rgb(112, 112, 112);
    font-size: 14px;
    margin: 5px;
}

.saved-arrangement-list {
    height: 400px; 
    min-width: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin: 30px;
}

.saved-arrangement-list a, .create-arrangement-btn a{
    text-decoration: none;
    color: black;

}


.saved-arrangement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    margin: 3px 0px 3px 0px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid gainsboro;
}

.saved-arrangement:hover {
    cursor: pointer;
    /* background-color: #48BD4B; */
    background-color: #88d38c;
    transition: background-color 0.3s ease-in-out;
    color: white;
}

/* .saved-arrangement:hover > a {
    color: white;
} */


.create-arrangement-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    border-style: none;
    /* background-color: #48BD4B; */
    background-color: #41A855;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}
.create-arrangement-btn a {
    color: white;
}

.create-arrangement-btn:hover {
    box-shadow: 0px 0px 10px 2px #E8E8E8;
    background-color: #48BD4B;
    background-color: #F3BB59;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.create-arrangement-btn:focus { outline: none}
